<h1>Join Chitter</h1>
<form action="/peeper/new" method="post">
<label for="username">Username: </label>
  <input type="text" name="username" id="" placeholder="Choose a unique username">
  <label for="email">Email: </label>
  <input type="email" name="email" id="" placeholder="Confirm your email address">
  <label for="password">Password: </label>
  <input type="password" name="password" id="">
  <label for="password_check">Re-enter password: </label>
  <input type="password" name="password_check" id="">
  <input type="submit" value="Submit">
</form>